@page "/road"
@using Logic

<div>
   Set a Car

   <div>
      row: <input @bind=vehicleRowInput />
   </div>
   <div>
      column: <input @bind=vehicleColumnInput />
   </div>
   <button @onclick=@(() => SetVehicle("Car"))>Set Car</button>
   <button @onclick=@(() => SetVehicle("Bus"))>Set Bus</button>
   <button @onclick=@(() => SetVehicle("FireTruck"))>Set FireTruck</button>
   <button @onclick=@(() => SetVehicle("Taxi"))>Set Taxi</button>
</div>

@code
{
    
}
